/* Global Styles */
body {
    /* Basic styles for the body */
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent horizontal scrollbar */
}

/* Main Container */
main {
    /* Styles for the main container */
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* General Description Styles */
.description {
    /* Styles for the description text */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form Styles */
label {
    /* Styles for labels */
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"] {
    /* Styles for number input fields */
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    /* Styles for buttons */
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    /* Styles for button hover state */
    background-color: #0033cc;
}

input::placeholder {
    /* Styles for input placeholders */
    font-size: 16px;
    color: #ccc;
}

/* Progress Bar Styles */
.progress-container {
    /* Styles for the progress bar container */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

progress {
    /* Styles for the progress bar */
    margin-top: 10px;
    width: 100%;
    height: 20px;
}

#progressText {
    /* Styles for the progress text */
    font-weight: 500;
    text-align: end;
}

/* Serial Code Log Styles */
.log-container {
    /* Styles for the serial code log container */
    border: 2px solid;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.serial-code-label {
    /* Styles for the serial code label */
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#log > span {
    /* Styles for the individual log messages */
    display: block;
    color: #fff;
    background-color: blue;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Serial Code Display Styles */
#serial {
    /* Styles for the serial code display */
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 10px;
}

#serial span {
    /* Styles for each serial code */
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Scrollable Log Container Styles */
.log-container {
    /* Styles for the scrollable log container */
    height: 200px;
}

.log-container span {
    /* Additional styles for log messages inside the scrollable container */
    margin-bottom: 10px;
}

input[type="text"] {
    /* Styles for the additional text input at the top of the page */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

input[type="text"]:focus {
    /* Styles for the focus state of the additional text input */
    outline: none;
    border-color: #999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
