:root {
    --text-color: rgb(255, 255, 255);
}

body {
    background-color: var(--text-color);
}

h1, h2 {
    color: var(--text-color);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.346);
    filter: invert(1);
}

h1 {
    text-align: center;
}

div *{
    display: block;
    margin: auto;
    width: 100%;
}

textarea, input {
    margin-top: 20px;
    box-shadow: 3px 3px 10px black;
    transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    resize: none;
}

:is(textarea, input):hover {
    box-shadow: 0px 0px 0px black;
}
